@using ContractManagement.Application.ViewModels.Clients
@model ClientViewModel

<h1>Detail klienta</h1>
<p>ID: @Model.ID</p>
<p>Jméno: @Model.Name</p>
<p>Příjmení: @Model.Surname</p>
<p>Email: @Model.Email</p>
<p>Telefon: @Model.Phone</p>
<p>Věk: @Model.Age</p>
<p>Rodné číslo: @Model.PersonalIdentificationNumber</p>