@using ContractManagement.Application.ViewModels.Clients
@model ListViewModel
@{
    ViewData["Title"] = "Seznam klientů";
    ClientViewModel singleModel = null;
}

<h1>@ViewData["Title"]</h1>

@Html.ActionLink("Exportovat do CSV", "CsvExport")

@using (Html.BeginForm("List", "Client", FormMethod.Get))
{
    <div class="row mt-3 mb-3">
        <div class="col-md-3 mb-sm-2 mb-2">
            @Html.TextBoxFor(m => m.Search, new { placeholder = "Hledat...", @class = "form-control" })
        </div>
        <div class="col-md-9">
            <button type="submit" class="btn btn-primary float-right">Filtrovat</button>
        </div>
    </div>
}

@if (Model.Clients.Count > 0)
{
    <table>
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(prop => singleModel.Name)</th>
                <th>@Html.DisplayNameFor(prop => singleModel.Surname)</th>
                <th>@Html.DisplayNameFor(prop => singleModel.Email)</th>
                <th>@Html.DisplayNameFor(prop => singleModel.Phone)</th>
                <th>@Html.DisplayNameFor(prop => singleModel.Age)</th>
                <th>@Html.DisplayNameFor(prop => singleModel.PersonalIdentificationNumber)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in Model.Clients)
            {
                <tr>
                    <td data-label="Jméno">@Html.ActionLink(client.Name, "Detail", new { id = client.ID })</td>
                    <td data-label="Příjmení">@Html.ActionLink(client.Surname, "Detail", new { id = client.ID })</td>
                    <td data-label="Email">@Html.DisplayFor(prop => client.Email)</td>
                    <td data-label="Telefon">@Html.DisplayFor(prop => client.Phone)</td>
                    <td data-label="Věk">@Html.DisplayFor(prop => client.Age)</td>
                    <td data-label="Rodné číslo">@Html.DisplayFor(prop => client.PersonalIdentificationNumber)</td>
                </tr>
            }
        </tbody>
    </table>

    <nav>
        <ul class="pagination justify-content-center mt-4">
            @for (var i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a asp-route-Page="@i" class="page-link">@i</a>
                </li>
            }
        </ul>
    </nav>
}
else
{
    <p class="text-center">Seznam je prázdný</p>
}