@using ContractManagement.Application.ViewModels.Contracts
@model ListViewModel
@{
    ViewData["Title"] = "Seznam smluv";
    ContractViewModel singleModel = null;
}

<h1>@ViewData["Title"]</h1>

@Html.ActionLink("Exportovat do CSV", "CsvExport")

@using (Html.BeginForm("List", "Contract", FormMethod.Get))
{
    <div class="row mt-3 mb-3">
        <div class="col-md-3 col-sm-12 pr-md-0 mb-sm-2 mb-2">
            @Html.TextBoxFor(m => m.Search, new { placeholder = "Hledat...", @class = "form-control" })
        </div>
        <div class="col-md-2 col-sm-12 p-md-0 pl-md-1 mb-sm-2 mb-2">
            @Html.DropDownListFor(m => m.InstitutionId, (SelectList)ViewBag.InstitutionSelectList, "Všechny instituce", new { @class = "form-control" })
        </div>
        <div class="col-md-2 col-sm-12 p-md-0 pl-md-1 mb-sm-2 mb-2">
            @Html.DropDownListFor(m => m.ClientId, (SelectList)ViewBag.ClientSelectList, "Všichni klienti", new { @class = "form-control" })
        </div>
        <div class="col-md-2 col-sm-12 p-md-0 pl-md-1 mb-sm-2 mb-2">
            @Html.DropDownListFor(m => m.AdministratorId, (SelectList)ViewBag.AdministratorSelectList, "Všichni správci", new { @class = "form-control" })
        </div>
        <div class="col-md-3 col-sm-12">
            <button type="submit" class="btn btn-primary float-right">Filtrovat</button>
        </div>
    </div>
}

@if (Model.Contracts.Count > 0)
{
    <table>
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(prop => singleModel.RegistrationNumber)</th>
                <th>@Html.DisplayNameFor(prop => singleModel.Institution)</th>
                <th>@Html.DisplayNameFor(prop => singleModel.Client)</th>
                <th>@Html.DisplayNameFor(prop => singleModel.Administrator)</th>
                <th>@Html.DisplayNameFor(prop => singleModel.ConclusionDate)</th>
                <th>@Html.DisplayNameFor(prop => singleModel.ValidFromDate)</th>
                <th>@Html.DisplayNameFor(prop => singleModel.TerminationDate)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contract in Model.Contracts)
            {
                <tr>
                    <td data-label="Registrační číslo">@Html.ActionLink(contract.RegistrationNumber, "Detail", new { id = contract.ID })</td>
                    <td data-label="Instituce">@Html.ActionLink(contract.Institution.Name, "Detail", "Institution", new { id = contract.Institution.ID })</td>
                    <td data-label="Klient">@Html.ActionLink(contract.Client.FullName, "Detail", "Client", new { id = contract.Client.ID })</td>
                    <td data-label="Správce smlouvy">@Html.ActionLink(contract.Administrator.FullName, "Detail", "Consultant", new { id = contract.Administrator.ID })</td>
                    <td data-label="Datum uzavření">@Html.DisplayFor(prop => contract.ConclusionDate)</td>
                    <td data-label="Datum začátku platnosti">@Html.DisplayFor(prop => contract.ValidFromDate)</td>
                    <td data-label="Datum ukončení">@Html.DisplayFor(prop => contract.TerminationDate)</td>
                </tr>
            }
        </tbody>
    </table>

    <nav>
        <ul class="pagination justify-content-center mt-4">
            <li class="page-item @(!Model.ShowFirst? "disabled":"")">
                <a asp-route-Page="1" class="page-link">První</a>
            </li>
            @for (var i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a asp-route-Page="@i" class="page-link">@i</a>
                </li>
            }
            <li class="page-item  @(!Model.ShowLast? "disabled":"")">
                <a asp-route-Page="@Model.TotalPages" class="page-link">Poslední</a>
            </li>
        </ul>
    </nav>
}
else
{
    <p class="text-center">Seznam je prázdný</p>
}